/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
/*.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/

.ajax-loader {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 1px;
    height: 100px;
    width: 100px;
    background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}
.chat-message-unread {
    background-color: rgb(220,220,220);
}
.span-link {
    cursor: pointer;
    color: #1c84c6;
}
.span-link-inactive {
    cursor: pointer;
    color: gray;
}
.span-link:hover {
    color: #2a6496;
}
.span-link-inactive:hover {
    color: #2a6496;
}
.pagination {
    margin-top:0px;
}

   