@model IndexContactsViewResult
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInspinia.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Контакты</h2>
        @Html.MvcSiteMap().SiteMapPath()
    </div>    
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var profile in Model.Profiles)
        {
           @Html.Partial("_IndexProfile", profile)
        }
    </div>
</div>



