@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Ваш пароль изменен</h3>
        <p>
            Можете войти с новым паролем
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <a href="@Url.Action("Login","Account")" class="btn btn-primary block full-width m-b">Войти</a>
    </div>
</div>
