
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Ошибка!</h3>
        <p>
            Ваш Email адрес не подтвержден!
        </p>
    </div>
</div>

