
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Поздравляем!</h3>
        <p>
            Ваш Email адрес подтвержден!            
        </p> 
        <a href="@Url.Action("Index","Profile")" class="btn btn-primary block full-width m-b" >Перейти</a>

        <div class="">


        </div>

    </div>
</div>

