@model ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Воостановление пароля</h3>
        <p>
            Введите Ваш email
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>

        @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <input type="submit" value="Восстановить" class="btn btn-primary block full-width m-b" />
        }
    </div>
</div>